.battle{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.battle h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: #F2EEE9;
}

/**/
#cards-teams{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 550px;
}

.vs-battle{
    color: #fff;
}

#cartas, #cartas2{
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .5s;
    height: 350px;
}

.face, .face2{
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    border-radius: 15px;
}

#front, #front2{
    background-color: #FF004F;
    transform: rotateY(180deg);
}

#front::before, #front2::before{
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    background-image: url("https://mir-s3-cdn-cf.behance.net/projects/404/fe6e49157705225.Y3JvcCwxNTk4LDEyNDksMCww.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -10;
}

#front img, #front2 img{
    width: 100%;
}

#back, #back2{
    background-color: #FF004F;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flip, .flip2{
    transform: rotateY(180deg);
}

.playersTeam{
    text-align: justify;
    margin: 0px 20px 0px 20px;
}

.playersTeam span{
    color: yellow;
}

.playersTeam p{
    font-size: 12px;
    margin-bottom: 10px;
}

#front2 img{
    width: 200px !important;
}

#img-mascote{
    position: absolute;
    left: 50px;
    animation: rotate 5s linear infinite;
}


@keyframes rotate {
    0%{
       margin-top: 0px;
    }

    25%{
        margin-top: 100px;
    }

    50%{
        margin-top: 200px;
    }

    75%{
        margin-top: 100px;
    }

    100%{
        margin-top: 0px;
    }
}

#img-mascote02{
    margin-top: -350px;
    margin-right: 150px;
    float: right;
}