#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#FF004F;
    padding: 10px;
}

#footer p{
    font-weight: bold;
    margin-bottom: 10px;
}

#footer a{
    color: #000;
}

#footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    #footer p, #footer a{
        font-size: 12px;
    }
}