.initial{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.textPrimary{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.textPrimary h1{
    color: #F2EEE9;
    font-size: 7rem;
    line-height: 8rem;
    margin: 20px 0px 20px 0px;
}

.textPrimary p{
    color: #FF004F;
    font-size: 1.2rem;
}

.textPrimary span{
    color: #fff;
    opacity: 0.7;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

.textPrimary button{
    margin-top: 30px;
    width: 180px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #FF004F;
    color: #fff;
    font-weight: bold;
}

.textPrimary button:hover{
    cursor: pointer;
}

.playersImg{
    background-color: #FF004F;
    border-radius: 22% 78% 62% 38% / 30% 20% 80% 70% ;
}

.playersImg img {
    margin-right: 50px;
}